#view {
	min-width:690px;
	min-height:480px;
	text-align:center;
	overflow-y:scroll;
	background-image: url(http://dg1h6uvotkrdh.cloudfront.net/s/images/bg_pattern.png);
}

/**
* header
*
*/
#view > .headerWrapper {
	width:100%;
	height:35px;
	border-bottom:4px solid #000;
	background-color: #fff;
	position:relative;
	z-index:9999;
	min-width: 310px;
}

#view > .headerWrapper > .header > .LoginForm {
	float:right;
	margin-top:5px
}

#view > .headerWrapper > .header > a.classicSwitcher {
    position: absolute;
    top: 9px
}

#view > .headerWrapper > .header {
	max-width:960px;
	margin:0 auto;
	height:100%;
	text-align:left;
}

#view > .headerWrapper > .header .logo {
	background-image: url("http://dg1h6uvotkrdh.cloudfront.net/s/images/sprites.png");
    background-position: 3px 0px;
	background-repeat: no-repeat;
	width:100px;
	height:100%;
	display:inline-block
}

#view > .headerWrapper > .header .Label {
	float:right;
	margin-right:10px;
	font-size:12px;
	font-variant:small-caps
}

#view #userMenu .DropDownMenuItem {
	width:100%;
	height:100%;
	display:block;
	background-repeat:no-repeat;
}

#view #userMenu .icon {
	background-image:url(http://dg1h6uvotkrdh.cloudfront.net/s/images/sprites.png);
}

#view #userMenu .search .icon {
	background-position: -229px 0;
}

#view #userMenu .MessagesSubMenu .icon {
	background-position: -98px 0;
}

#view #userMenu .settings .icon {
	background-position: -133px 0;
}

#view #userMenu .logout .icon {
	background-position: -263px -35px;
}

#view #userMenu {
	float:right
}

#view .StatusMenu {
	margin-top:8px;
	float:right
}

/**
* main
*
*/
#view > .main {
	width:100%;
	text-align:left;
	background-image:url(http://dg1h6uvotkrdh.cloudfront.net/s/images/tr_y.png);
	background-repeat:repeat-x;
	min-height:200px
}

#view .Page {
	position:relative;
}

#view .Page .profileImageWrapper, #view .WizardPage .profileImageWrapper {
	padding-left: 15px;
    padding-top: 30px;
}

/**
* footer
*
*/
#view > .main > .footer {
	width:100%;
	clear:both;
	color:#fff;
	max-width: 910px;
    min-width: 320px;
    margin: 0 auto;
    font-size:12px;
    padding-top:5px
}

#view #footerLinks {
    clear: none;
    display: inline-block;
    text-align: right;
    width: 50%;
}

#view #footerLinks a {
	color:#fff;
}

#view #footerText {
    clear: none;
    color: #FFFFFF;
    display: inline-block;
    width: 50%;
}

/**
* ad related
*
*/
.ad {
	clear:none
}

#rightAd {
	position: absolute;
    right: 0;
    top: 60px;
    width: 160px;
}

#bottomAd {
	display:none
}
