.GeoMatchesFinder {
    clear:both
}

.GeoMatchesFinder .errorMessage {
	position:absolute;
	background-color:#000;
	padding:5px;
	color:#fff;
	top:40px;
	left:5px;
	opacity:0.7;
	-webkit-opacity:0.7;
	z-index:99
}

.GeoMatchesFinder .loadingSpinner {
    bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 99999;
}