.ResultBrowser {
    padding: 15px;
    text-align: left;
    width: inherit;
}

.ResultBrowser .results {
	clear: none;
    display: inline-block;
    width: auto;
}

.ResultBrowser .results.center {
    margin-left: 48px;
}

.ResultBrowser .SubmitButton {
	display:block
}

.ResultBrowser .browseButton {
	width:40px;
	height:80px;
	margin-top: 20px;
	background-image: url("http://dg1h6uvotkrdh.cloudfront.net/s/images/sprites.png");
	cursor:pointer;
	position: absolute;
}

.ResultBrowser .prevButton {
	left:0;
	background-position: -30px -40px;
}

.ResultBrowser .nextButton {
    background-position: -70px -40px;
    bottom: 50px;
    right: 0;
}

.ResultBrowser .SearchResultProfile span.text {
    background-color:#EEE;
	display:block;
	font-size:14px;
	font-variant:small-caps;
	margin:0;
	padding:0 3px
}

.ResultBrowser .SearchResultProfile span.statusIcon {
    position:absolute;
	right:3px;
	top:3px;
	width:20px;
	height:20px;
	background-image: url("http://dg1h6uvotkrdh.cloudfront.net/s/images/sprites.png");
	visibility: visible !important
}

.ResultBrowser .SearchResultProfile span.statusIcon.invisible {
	background-position: -2px -74px;
}

.ResultBrowser .SearchResultProfile span.statusIcon.away {
	background-position: -2px -94px;
}

.ResultBrowser .SearchResultProfile span.statusIcon.online {
	background-position: -2px -115px;
}

.ResultBrowser .SearchResultProfile span.statusIcon.geoOnline {
    background-position: -2px -134px;
}

.ResultBrowser .SearchResultProfile img.tumb {
	margin:0;
	display: block;
	padding:3px 3px 0
}

.ResultBrowser .SearchResultProfile {
    border:1px solid #333333;
	/*width:85px;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    display:inline-block;
	position:relative
}

