.SubmitButton {
	background-color:#9dbffb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dbffb', endColorstr='#5d85d0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#9dbffb), to(#5d85d0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #9dbffb,  #5d85d0); /* for firefox 3.6+ */ 
	color: #000000;
	text-shadow: 0 1px 0px #ffffff;
	border:#5d85d0 1px solid !important;
	padding-left:15px !important;
	padding-right:5px !important;
	padding-top:4px;
	padding-bottom:4px;
	text-align:left;
}

.SubmitButton:hover {
	color: #ffffff;
	background: url("../images/ui/ui-bg_glass_75_000000_1x400.png") repeat-x scroll 50% 50% #000000;
	border:#000000 1px solid;
	text-shadow:none
}

.SubmitButton > .spinner {
	margin:0
}
