.WizardPage {	
	padding:20px
}  

.WizardPage .header {
    border-bottom: 1px solid #EEE;
	margin:10px 0 10px 0;
	padding-bottom:15px;
	text-align:left
}

.WizardPage .header h2 {
    margin: 0;
}

.WizardPage .header em {
	display:block;
	font-size:14px;
	color:#666;
	font-style:normal;
	margin-top:8px
}
