.DropDownMenu {
	padding:0;
	display:inline
}

.DropDownMenu .MenuItem, .DropDownMenu .SubMenu {
list-style-type:none;
margin-right:3px;
height:32px;
min-width:32px;
background-repeat:no-repeat;
border:1px solid transparent;
position:relative;
clear:both
}

.DropDownMenu .MenuItem > .overlay {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:0.7;
	display:none
}

.DropDownMenu .MenuItem.disabled > .overlay {
	display:block
}

.DropDownMenu:hover {
cursor:pointer
}

.DropDownMenu > .SubMenu.full, .DropDownMenu > .MenuItem.full {
display:inline-block
}

.DropDownMenu .MenuItem a, .DropDownMenu .SubMenu a {
text-decoration:none;
line-height:30px;
display: block;
width:100%;
height:100%
}

.DropDownMenu .MenuItem.selected {
background-color:#eee;
border-bottom:1px solid #ddd;
border-right:1px solid #ddd;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
border-radius:3px
}

.DropDownMenu > .MenuItem > a > .icon {
float:left;
width:32px;
height:32px
}

.DropDownMenu > .SubMenu > a > .text, .DropDownMenu > .MenuItem > a > .text {
float:left;
font-variant: small-caps;
font-weight: bold
}

.DropDownMenu .MessagesSubMenu li.latestMessages {
list-style-type:none;
margin:5px 10px;
height:32px;
min-width:32px;
display:block
}

.DropDownMenu .MessageMenuItem {
float:left
}

.DropDownMenu .MessageMenuItem img {
float:left
}

.DropDownMenu .MessageMenuItem .text {
    float:left;
    line-height:15px;
    margin-left:10px
}

.DropDownMenu .MessageMenuItem .sender {
    float:left;
    font-weight:bold;
    line-height:15px;
    margin-left:10px;
    width:90px
}

.DropDownMenu .MessagesSubMenu ul {
width:150px
}

.DropDownMenu .SubMenu > ul {
position:absolute;
padding:0;
border-left:1px solid #aaa;
border-bottom:1px solid #aaa;
border-right:1px solid #aaa;
background-color:#fff;
z-index:9999
}

.DropDownMenu .NotificationSubMenu > .count {
    text-align:center;
    width:10px;
    height:10px;
    background-color:#FF0000;
    margin-left:7px;
    margin-top:-10px;
    position:absolute;
    line-height:9px;
    color:#fff;
    font-size:8px
}
